<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">

    <div th:fragment="comment">
        <div class="comment">
            <div class="comment-top">
                <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                    <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                </div>
                <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                    <div class="goToLogin">
                        &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                    </div>
                </div>
                <div class="commentBtn">
                    <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                </div>
            </div>
            <!--页面留言-->
            <div class="comment-bottom">
            </div>
        </div>
    </div>
</html>